
# BEGIN BackUpWordPress
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=b305a1dad20a16bc4ea6d76ef1ff434b
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress