
# BEGIN BackUpWordPress
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=d399d4f39b20d37e9a5863296f9bd959
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress