
# BEGIN BackUpWordPress
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=6b8b9f6690dfbfec4b605607c5c6ee0c
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress