.x-section {
  padding-left: 2% !important;
  padding-right: 2% !important;
  &.full-width {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

@media (min-width: 980px) {
  .x-section {
    padding-left: 25% !important;
    padding-right: 25% !important;
  }
}

body .x-section.no-side-padding {
  padding-left: 0% !important;
  padding-right: 0% !important;
}

@media (min-width: 768px) and (max-width: 979px) {
  .main-banner {
    background-position: 58% 50% !important;
  }
}

.main-banner {
  .main-banner-text {
    .h2 {
      margin-top: 10px !important;
    }
    padding: 16px !important;
  }
  .hi-cursive {
    margin-top: 0px;
    margin-bottom: 0px;
    font-style: italic;
    color: #2784de;
    font-family: Pacifico,cursive;
    font-weight: normal;
    letter-spacing: 0em;
  }
}

.work-with-you {
  font-weight: bold;
  font-size: 120%;
  margin: 0px 0px 14px;
}

.main-banner-text {
  .x-btn {
    margin-right: 10px;
    margin-top: 10px;
  }
  .video-lightbox-button a {
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  .main-banner {
    padding-top: 330px !important;
    padding-bottom: 0px !important;
    background-image: url(http://scottlaidler.com/wp-content/uploads/2016/06/scott-home-banner-mobile.png) !important;
    .main-banner-text {
      background-color: rgba(255, 255, 255, 0.8) !important;
      color: #222;
      .h2 {
        color: #222;
      }
    }
  }
  .main-banner-text .intro {
    margin-bottom: 14px;
  }
}

@media (min-width: 768px) {
  .main-banner .main-banner-text {
    background-color: rgba(0, 0, 0, 0.6) !important;
    color: white;
    .h2 {
      color: white;
    }
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .main-banner {
    background-position: top !important;
  }
}

.video-lightbox-button a {
  margin-bottom: 0;
  border-width: 3px;
  text-shadow: none;
  text-transform: uppercase;
  background-color: transparent;
  box-shadow: none;
  border-radius: 0em;
  padding: 0.579em 1.105em 0.842em;
  font-size: 19px;
  color: #2784de;
  border-color: #2784de !important;
  display: inline-block;
  position: relative;
  border: 1px solid #ac1100;
  cursor: pointer;
  line-height: 1.3;
  text-align: center;
  vertical-align: middle;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
  border: 3px solid #105ba4;
  &:hover {
    margin-bottom: 0;
    border-width: 3px;
    text-shadow: none;
    text-transform: uppercase;
    background-color: #2784de;
    border-color: #2784de;
    box-shadow: none;
    color: white;
  }
  i {
    display: inline-block;
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    &:before {
      content: attr(data-x-icon);
      line-height: 1;
    }
  }
}

@media (min-width: 768px) {
  .bundle-column {
    padding-right: 100px !important;
  }
}

.celebrity-quote blockquote {
  font-size: 20px;
}

.owain.celebrity-quote blockquote {
  border-color: #bbb;
  margin: 60px 0px 0px;
}

.kierston.celebrity-quote blockquote {
  margin-top: 0px;
  border-top: none;
}

@media (min-width: 768px) {
  .owain.celebrity-quote blockquote {
    margin: 0px;
  }
}

.celebrity-collage {
  .grid {
    div {
      width: 50%;
      height: 200px;
      float: left;
      background-size: cover;
      background-position: center;
    }



  div {
    position: relative;
    span {
      padding: 0px 5px;
      font-size: 16px;
      position: absolute;
      bottom: 0px;
      left: 0px;
      background-color: rgba(0, 0, 0, 0.75);
      color: white;
      border-left: 4px solid #105ba4;
      text-transform: uppercase;
    }
  }
}
}
@media (min-width: 481px) {
  .celebrity-collage .grid div {
    height: 300px;
  }
}

@media (min-width: 768px) {
  .celebrity-collage .grid div {
    width: 25%;
    float: left;
    background-size: cover;
  }
}

.quotes .quote {
  img {
    height: 30px;
  }
  font-size: 200%;
  line-height: 1.3em;
  color: white;
  font-weight: bold;
  text-align: left;
  font-style: italic;
  span {
    color: white;
  }
  width: 50%;
  float: left;
}

.quote.mens-fitness {
  padding-right: 14px;
}

.why-online .explanation {
  font-size: 16px;
  color: #333;
  h5 {
    margin: 14px 0px 0px;
  }
}

@media (min-width: 768px) {
  .why-online {
    padding-bottom: 55px !important;
  }
}

.recent-posts .x-recent-post2 {
  width: 48% !important;
  margin-right: 2% !important;
  float: left !important;
}

.sb_instagram_header {
  display: none;
}

body #sb_instagram #sbi_load {
  .sbi_load_btn, .sbi_follow_btn a {
    border-radius: 20px;
    border: 2px solid #105ba4;
  }
  .sbi_load_btn {
    background-color: transparent;
    color: #105ba4;
    &:hover {
      background-color: #105ba4;
      color: white;
    }
  }
  .sbi_follow_btn a {
    color: white;
    background-color: #105ba4;
    &:hover {
      background-color: transparent;
      color: #105ba4;
    }
  }
}

@media (max-width: 480px) {
  .instagram-tag {
    font-size: 24px;
  }
}

.instagram-tag {
  margin-top: 0px;
  text-transform: uppercase;
  font-weight: 300;
  color: #105ba4;
  padding-left: 5px;
  a {
    color: #105ba4;
  }
}.x-section{padding-left:2% !important;padding-right:2% !important;}.x-section.full-width{padding-left:0px !important;padding-right:0px !important;}@media (min-width:980px){.x-section{padding-left:25% !important;padding-right:25% !important;}}body .x-section.no-side-padding{padding-left:0% !important;padding-right:0% !important;}@media(min-width:768px) and (max-width:979px){.main-banner{background-position:58% 50% !important;}}.main-banner .main-banner-text .h2{margin-top:10px !important;}.main-banner .main-banner-text{padding:16px !important;}.main-banner .hi-cursive{margin-top:0px;margin-bottom:0px;font-style:italic;color:#2784de;font-family:Pacifico,cursive;font-weight:normal;letter-spacing:0em;}.work-with-you{font-weight:bold;font-size:120%;margin:0px 0px 14px;}.main-banner-text .x-btn{margin-right:10px;}.main-banner-text .x-btn,.main-banner-text .video-lightbox-button a{margin-top:10px;}@media(max-width:767px){.main-banner{padding-top:330px !important;padding-bottom:0px !important;background-image:url(http://scottlaidler.com/wp-content/uploads/2016/06/scott-home-banner-mobile.png) !important;}.main-banner .main-banner-text{background-color:rgba(255,255,255,0.8) !important;color:#222;}.main-banner .main-banner-text .h2{color:#222;}.main-banner-text .intro{margin-bottom:14px}}@media(min-width:768px){.main-banner .main-banner-text{background-color:rgba(0,0,0,0.6) !important;color:white;}.main-banner .main-banner-text .h2{color:white;}}@media(min-width:480px) and (max-width:767px){.main-banner{background-position:top !important;}}.video-lightbox-button a{margin-bottom:0;border-width:3px;text-shadow:none;text-transform:uppercase;background-color:transparent;box-shadow:none;border-radius:0em;padding:0.579em 1.105em 0.842em;font-size:19px;color:#2784de;border-color:#2784de !important;display:inline-block;position:relative;border:1px solid #ac1100;cursor:pointer;line-height:1.3;text-align:center;vertical-align:middle;-webkit-transition:all 0.15s linear;transition:all 0.15s linear;border:3px solid #105ba4;}.video-lightbox-button a:hover{margin-bottom:0;border-width:3px;text-shadow:none;text-transform:uppercase;background-color:#2784de;border-color:#2784de;box-shadow:none;color:white;}.video-lightbox-button a i{display:inline-block;font-family:"FontAwesome";font-style:normal;font-weight:normal;text-decoration:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;}.video-lightbox-button a i:before{content:attr(data-x-icon);line-height:1;}@media(min-width:768px){.bundle-column{padding-right:100px !important;}}.celebrity-quote blockquote{font-size:20px;}.owain.celebrity-quote blockquote{border-color:#bbb;margin:60px 0px 0px;}.kierston.celebrity-quote blockquote{margin-top:0px;border-top:none;}@media(min-width:768px){.owain.celebrity-quote blockquote{margin:0px;}}.celebrity-collage .grid div{width:50%;height:200px;float:left;background-size:cover;background-position:center;}@media(min-width:481px){.celebrity-collage .grid div{height:300px}}@media(min-width:768px){.celebrity-collage .grid div{width:25%;float:left;background-size:cover;}}.celebrity-collage .grid .kate-hudson{background-image:url(http://77.72.3.229/scott/wp-content/uploads/2016/04/kate.jpg);}.celebrity-collage .celebrity-collage .grid .natalie-imbruglia{background-image:url(http://77.72.3.229/scott/wp-content/uploads/2016/04/natalie-resized.jpg);background-position:top;}.celebrity-collage .owain-yeoman{background-image:url(http://77.72.3.229/scott/wp-content/uploads/2016/04/owain_yeoman.jpg);background-position:top !important;}.celebrity-collage div{position:relative;}.celebrity-collage div span{padding:0px 5px;font-size:16px;position:absolute;bottom:0px;left:0px;background-color:rgba(0,0,0,0.75);color:white;border-left:4px solid #105ba4;text-transform:uppercase;}.quotes .quote img{height:30px;}.quotes .quote{font-size:200%;line-height:1.3em;color:white;font-weight:bold;text-align:left;font-style:italic;}.quotes .quote span{color:white;}.quotes .quote{width:50%;float:left;}.quote.mens-fitness{padding-right:14px;}.why-online .explanation{font-size:16px;color:#333;}.why-online .explanation h5{margin:14px 0px 0px;}@media(min-width:768px){.why-online{padding-bottom:55px !important;}}.recent-posts .x-recent-post2{width:48% !important;margin-right:2% !important;float:left !important;}.sb_instagram_header{display:none;}body #sb_instagram #sbi_load .sbi_load_btn,body #sb_instagram #sbi_load .sbi_follow_btn a{border-radius:20px;border:2px solid #105ba4;}body #sb_instagram #sbi_load .sbi_load_btn{background-color:transparent;color:#105ba4;}body #sb_instagram #sbi_load .sbi_load_btn:hover{background-color:#105ba4;color:white;}body #sb_instagram #sbi_load .sbi_follow_btn a{color:white;background-color:#105ba4;}body #sb_instagram #sbi_load .sbi_follow_btn a:hover{background-color:transparent;color:#105ba4;}@media(max-width:480px){.instagram-tag{font-size:24px;}}.instagram-tag{margin-top:0px;text-transform:uppercase;font-weight:300;color:#105ba4;padding-left:5px;}.instagram-tag a{color:#105ba4;}
