a, h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, .x-topbar .p-info a:hover, .x-breadcrumb-wrap a:hover {
  color: #105ba4;
}

.widget {
  ul li a:hover, ol li a:hover {
    color: #105ba4;
  }
  &.widget_text {
    ul li a, ol li a {
      color: #105ba4;
    }
  }
}

.widget_nav_menu .current-menu-item > a, .x-widgetbar .widget ul li a:hover, .x-accordion-heading .x-accordion-toggle:hover, .x-comment-author a:hover, .x-comment-time:hover, .x-recent-posts a:hover .h-recent-posts {
  color: #105ba4;
}

a:hover {
  color: #6898c1;
}

.widget.widget_text {
  ul li a:hover, ol li a:hover {
    color: #6898c1;
  }
}

.x-twitter-widget ul li a:hover {
  color: #6898c1;
}

.rev_slider_wrapper, a.x-img-thumbnail:hover, .x-slider-container.below, .page-template-template-blank-3-php .x-slider-container.above, .page-template-template-blank-6-php .x-slider-container.above {
  border-color: #105ba4;
}

.entry-thumb:before, .pagination span.current, .flex-direction-nav a {
  background-color: #105ba4;
}

.flex-control-nav a {
  &:hover, &.flex-active {
    background-color: #105ba4;
  }
}

.mejs-time-current, .x-dropcap, .x-skill-bar .bar, .x-pricing-column.featured h2, .h-comments-title small, .x-entry-share .x-share:hover, .x-highlight, .x-recent-posts .x-recent-posts-img:after {
  background-color: #105ba4;
}

.x-nav-tabs > .active > a {
  box-shadow: inset 0 3px 0 0 #105ba4;
  &:hover {
    box-shadow: inset 0 3px 0 0 #105ba4;
  }
}

.x-main {
  width: 69.536945%;
}

.x-sidebar {
  width: 25.536945%;
}

.x-topbar .p-info {
  color: #444444;
  a {
    color: #444444;
  }
}

.x-navbar {
  .desktop {
    .x-nav > li > a, .sub-menu a {
      color: #444444;
    }
  }
  .mobile .x-nav li > a {
    color: #444444;
  }
}

.x-breadcrumb-wrap a, .x-breadcrumbs .delimiter {
  color: #444444;
}

.x-navbar {
  .desktop {
    .x-nav > {
      li > a:hover, .x-active > a, .current-menu-item > a {
        color: #1e73be;
      }
    }
    .sub-menu {
      a:hover, .x-active > a, .current-menu-item > a {
        color: #1e73be;
      }
    }
    .x-nav .x-megamenu > .sub-menu > li > a {
      color: #1e73be;
    }
  }
  .mobile .x-nav {
    li > a:hover, .x-active > a, .current-menu-item > a {
      color: #1e73be;
    }
  }
  .desktop .x-nav > {
    li > a:hover, .x-active > a, .current-menu-item > a {
      box-shadow: inset 0 4px 0 0 #105ba4;
    }
    li {
      > a {
        height: 90px;
        padding-top: 37px;
      }
      ul {
        top: 75px;
      }
    }
  }
}

.x-comment-author, .x-comment-time, .comment-form-author label, .comment-form-email label, .comment-form-url label, .comment-form-rating label, .comment-form-comment label, .widget_calendar #wp-calendar caption, .widget.widget_rss li .rsswidget {
  font-family: Lato;
  font-weight: 700;
}

.p-landmark-sub, .p-meta, input, button, select, textarea {
  font-family: Lato;
}

.widget {
  ul li a, ol li a {
    color: #999999;
  }
}

.x-comment-time {
  color: #999999;
}

.widget_text {
  ol li a, ul li a {
    color: #105ba4;
  }
  ol li a:hover, ul li a:hover {
    color: #6898c1;
  }
}

.comment-form-author label, .comment-form-email label, .comment-form-url label, .comment-form-rating label, .comment-form-comment label, .widget_calendar #wp-calendar th, .p-landmark-sub strong {
  color: #272727;
}

.widget_tag_cloud .tagcloud a {
  &:hover, &:active {
    color: #272727;
  }
}

.entry-footer a {
  &:hover, &:active {
    color: #272727;
  }
}

.x-breadcrumbs .current {
  color: #272727;
}

.x-comment-author {
  color: #272727;
  a {
    color: #272727;
  }
}

.widget_calendar #wp-calendar th {
  border-color: #272727;
}

.h-feature-headline span i {
  background-color: #272727;
}

@media (max-width: 979px) {}

body {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #999999;
  background-color: #f3f3f3;
}

a:focus, select:focus {
  outline: thin dotted #333;
  outline: 5px auto #105ba4;
  outline-offset: -1px;
}

input {
  &[type="file"]:focus, &[type="radio"]:focus, &[type="submit"]:focus, &[type="checkbox"]:focus {
    outline: thin dotted #333;
    outline: 5px auto #105ba4;
    outline-offset: -1px;
  }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Lato",sans-serif;
  font-style: normal;
  font-weight: 700;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  letter-spacing: -0.035em;
}

.w-h {
  font-weight: 700 !important;
}

.x-container {
  &.width {
    width: 88%;
  }
  &.max {
    max-width: 1200px;
  }
}

.x-main.full {
  float: none;
  display: block;
  width: auto;
}

@media (max-width: 979px) {
  .x-main {
    &.full, &.left, &.right {
      float: none;
      display: block;
      width: auto !important;
    }
  }
  .x-sidebar {
    &.left, &.right {
      float: none;
      display: block;
      width: auto !important;
    }
  }
}

.entry-header, .entry-content {
  font-size: 14px;
}

body, input, button, select, textarea {
  font-family: "Lato",sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, .h1 a, .h2 a, .h3 a, .h4 a, .h5 a, .h6 a, blockquote {
  color: #272727;
}

.cfc-h-tx {
  color: #272727 !important;
}

.cfc-h-bd {
  border-color: #272727 !important;
}

.cfc-h-bg {
  background-color: #272727 !important;
}

.cfc-b-tx {
  color: #999999 !important;
}

.cfc-b-bd {
  border-color: #999999 !important;
}

.cfc-b-bg {
  background-color: #999999 !important;
}

.x-navbar-inner {
  min-height: 90px;
}

.x-brand {
  margin-top: 16px;
  font-family: "Lato",sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.035em;
  color: #272727;
  &:hover, &:focus {
    color: #272727;
  }
  img {
    width: 225px;
  }
}

.x-navbar {
  .x-nav-wrap .x-nav > li > a {
    font-family: "Lato",sans-serif;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.085em;
    text-transform: uppercase;
  }
  .desktop .x-nav > li > a {
    font-size: 15px;
    &:not(.x-btn-navbar-woocommerce) {
      padding-left: 20px;
      padding-right: 20px;
    }
    > span {
      margin-right: -0.085em;
    }
  }
}

.x-btn-navbar {
  margin-top: 20px;
  font-size: 24px;
  &.collapsed {
    font-size: 24px;
  }
}

@media (max-width: 979px) {
  .x-widgetbar {
    left: 0;
    right: 0;
  }
}

.x-btn, .button, [type="submit"] {
  color: #ffffff;
  border-color: #167ac6;
  background-color: #cc0000;
  margin-bottom: 0.25em;
  text-shadow: 0 0.075em 0.075em rgba(0, 0, 0, 0.5);
  border-radius: 0.25em;
}

.x-btn:hover, .button:hover, [type="submit"]:hover {
  color: #ffffff;
  border-color: #600900;
  background-color: #cc0000;
  margin-bottom: 0.25em;
  text-shadow: 0 0.075em 0.075em rgba(0, 0, 0, 0.5);
}

.x-btn {
  &.x-btn-real {
    margin-bottom: 0.25em;
    text-shadow: 0 0.075em 0.075em rgba(0, 0, 0, 0.65);
    &:hover {
      margin-bottom: 0.25em;
      text-shadow: 0 0.075em 0.075em rgba(0, 0, 0, 0.65);
      box-shadow: 0 0.25em 0 0 #a71000, 0 4px 9px rgba(0, 0, 0, 0.75);
    }
    box-shadow: 0 0.25em 0 0 #a71000, 0 4px 9px rgba(0, 0, 0, 0.75);
  }
  &.x-btn-flat {
    margin-bottom: 0;
    text-shadow: 0 0.075em 0.075em rgba(0, 0, 0, 0.65);
    box-shadow: none;
    &:hover {
      margin-bottom: 0;
      text-shadow: 0 0.075em 0.075em rgba(0, 0, 0, 0.65);
      box-shadow: none;
    }
  }
  &.x-btn-transparent {
    margin-bottom: 0;
    border-width: 3px;
    text-shadow: none;
    text-transform: uppercase;
    background-color: transparent;
    box-shadow: none;
    &:hover {
      margin-bottom: 0;
      border-width: 3px;
      text-shadow: none;
      text-transform: uppercase;
      background-color: transparent;
      box-shadow: none;
    }
  }
}
