@import 'import/variables';
@import 'style2';
@import 'inlne_6';
@import 'style';
@import 'font';
@import 'inline_4';
@import 'inline_5';
@import 'grid/bootstrap';
@import 'grid/bootstrap-theme';
@import 'fonts/font_fontawesome';


body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $fnorm;
  line-height: $base-line-height;

  overflow-y: hidden;

  min-width: 320px;

  transition: $base-transition;

  color: $base-font-color;
  background-color: $base-background-color;

  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;

  margin: 0 0 $small-spacing;
}
p,
pre {
  margin: 0 0 $small-spacing;
}
a {
  transition: $base-transition;
  text-decoration: none;

  color: $action-color;
  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }
  &:active,
  &:focus {
    color: lighten($action-color, 15%);
    outline: none;
  }
}
hr {
  margin: $base-spacing 0;

  border-top: none;
  border-right: none;
  border-bottom: $base-border;
  border-left: none;
}
img,
picture {
  max-width: 100%;
  margin: 0;
}
.wrapper {
  position: relative;

  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
}
.container {
  position: relative;

  max-width: $width;
}

header {
  .logo {
    display: block;
    img {
      max-width: 100%;
    }
  }
}
nav {
  ul {
    li {
      display: inline-block;
    }
  }
  .headnav {
    font-size: 100%;
  }
}

section {
  padding: 0 0 $footer;
}



footer {
  height: $footer;
  margin: $footer_margin auto 0;

  background-color: $gray-light;
  .google-maps-widget {
    h4 {
      text-align: center;
    }
    p {
      text-align: center;
      a {
        display: block;
      }
    }
  }
}
@font-face {
  font-family: 'League Gothic';
  font-weight: 300;
  font-style: normal;

  src: url('../fonts/LeagueGothic-Regular.otf');
  src: local('League Gothic Regular'),
  local('League Gothic'),
  url('../fonts/LeagueGothic-Regular.otf') format('otf'),;
}


.x-1-2,
.x-1-1 {
  padding: 0;
}
#x-section-3,
#x-section-7,
#x-section-9 {
  background-color: #f3f3f3 !important;
}
#x-section-9 {
  #sbi_load {
    padding: 5px 0 50px 0;
  }
}
.first-footer {
  height: 600px;
  .third-footer {
    text-align: center;
    form {
      h5 {
        font-family: 'Trocchi';
        font-size: 20px;

        margin-bottom: 20px;

        text-align: left;
        text-transform: uppercase;

        color: #fff;
      }
      p {
        .wpcf7-form-control-wrap {
          display: inline-block;

          width: 49%;
          &:nth-child(5) {
            display: block;

            width: 100%;
          }
          input {
            margin-bottom: 25px;

            border: none;
            border-bottom: 1px solid #6d6c6c;
            background: none;
            &::-webkit-input-placeholder {
              font-family: 'Trocchi';
              font-size: 20px;

              color: #167ac6;
            }
            &:focus {
              box-shadow: none;
              &::-webkit-input-placeholder {
                color: #1e1e1e;
              }
            }
          }
        }
        br {
          display: none;
        }
      }
      .wpcf7-submit {
        font-family: 'Trocchi';
        font-size: 18px;
        line-height: .5;

        float: left;

        width: 46%;
        height: 35px;

        color: #fff;
        border-radius: 25px;
        background-color: #434343;
        &:hover {
          color: #167ac6;
          background-color: darken(#434343, 5%);
        }
      }
      .first-footer-input {
        display: inline-block;

        width: 95%;
        margin-right: 30px;
      }
      .second-footer-input {
        display: inline-block;

        width: 95%;
      }
    }
  }
  .footnav {
    padding-top: 30px;
    ul {
      margin: 0;
      li {
        width: 100%;
        padding: 10px;

        transition: .5s all ease-out;

        border-bottom: 1px solid #6d6c6c;
        border-radius: 4px;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        &:hover {
          border-bottom: none;
          background-color: darken(#424242, 3%);
          a {
            text-decoration: none;

            color: #ab0101;
          }
        }
        a {
          font-size: 18px;

          text-decoration: none;
        }
      }
    }
  }
}
.second-footer {
  height: 200px;
}
#x-section-1 {
  margin: 0;
  padding: 105px 0;

  background-color: #fff;
  background-image: url(../img/scott-home-banner-v51.png);
  .x-container {
    margin: 0 auto;
    padding: 0;
    .x-1-2 {
      padding: 0;
      .hi-cursive {
        margin-top: 0;
      }
      .left-text {
        font-weight: 300;

        text-transform: uppercase;
        .inner-title {
          font-weight: bold;
        }
      }
      .x-raw-content {
        font-size: 18px;
      }
    }
  }
}
#x-section-3 {
  margin: 0;
  padding: 55px 0 45px;

  background-color: transparent;
  .x-container {
    margin: 0 auto;
    padding: 0;
    .x-1-2 {
      padding: 0;
      .h2 {
        margin-top: 0;
        margin-bottom: 10px;
      }
      .h6 {
        font-size: 16px;

        margin-top: 0;
        margin-bottom: 20px;
      }
    }
    .grid-form {
      form {
        .gender {
          .infusion-radio {
            .infusion-option {
              br {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
#x-section-4 {
  margin: 0;
  padding: 10px 0;

  background-color: #232323;
  .x-container {
    margin: 0 auto;
    padding: 0;
    .h2 {
      margin: 0;
      padding-left: 10px;

      color: white;
    }
  }
}
#x-section-5 {
  margin: 0;
  padding: 0;

  background-color: transparent;
  .x-container {
    margin: 0 auto;
    padding: 0;
  }
}
#x-section-6 {
  margin: 0;
  padding: 45px 00px 45px 200px;
  padding-top: 120px;

  background-color: #232323;
  .x-container {
    margin: 0 auto;
    padding: 0 0 0 5px;
    .pad-quote {
      padding-right: 10px;
    }
  }
}
#x-section-7 {
  margin: 0;
  padding: 65px 0 15px;

  background-color: transparent;
  .x-container {
    margin: 0 auto;
    padding: 0;
    .h2 {
      font-weight: 300;

      margin: 0 0 20px;

      text-transform: uppercase;
      .bold-title {
        font-weight: bold;
      }
    }
    .x-feature-list {
      .cf {
        max-width: none;
        .full {
          font-size: 60px;

          right: calc(100% - 60px);
          left: 0;

          border-left: 1px dashed #272727;
        }
        .x-feature-box-graphic {
          display: table-cell;

          vertical-align: top;
        }
        .x-feature-box-graphic-outer {
          margin-right: 20px;
        }
        .x-feature-box-graphic-inner {
          font-size: 60px;

          border-color: #c00;
        }
        .x-icon-star,
        .x-icon-calendar-o,
        .x-icon-money,
        .x-icon-life-bouy {
          margin: 0 auto;

          color: #fff;
          background-color: #c00;
        }
        .x-feature-box-content {
          display: table-cell;

          vertical-align: top;
        }
      }
    }
  }
}
#x-section-8 {
  margin: 0;
  padding: 45px 0;

  background-color: #fff;
  .x-container {
    margin: 0 auto;
    padding: 0;
    .h2 {
      font-weight: 300;

      margin-top: 0;

      text-transform: uppercase;
      .title-bold {
        font-weight: bold;
      }
    }
  }
}
#x-section-9 {
  margin: 0;
  padding: 45px 0;

  border-top: 3px solid #333;
  background-color: transparent;
  .x-container {
    margin: 0 auto;
    padding: 0;
    .h2 {
      font-weight: 300;

      margin-top: 0;
      padding-left: 5px;

      text-transform: uppercase;
      .bold-title-ins {
        font-weight: bold;
      }
    }
    .x-raw-content {
      #sb_instagram {
        width: 100%;
        padding-bottom: 10px;
        .sb_instagram_header {
          padding: 10px;
          padding-bottom: 0;
        }
        .sbi_images {
          padding: 5px;
        }
      }
    }
  }
}





header {
  position: fixed;
  z-index: 1000;

  width: 100%;
  margin: 0;

  background-color: rgba(18,14,14,.92);
  box-shadow: 0 2px 4px rgba(18,14,14,.5);
  .container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    .navbar {
      margin-bottom: 0;
      .navbar-header {
        float: left;
        .navbar-toggle {
          display: none;

          border: 2px solid #f8f2f2;
          &:focus {
            outline: none;
          }
          .sr-only {
            position: absolute;

            overflow: hidden;
            clip: rect(0, 0, 0, 0);

            width: 1px;
            height: 1px;
            margin: -1px;
            padding: 0;

            border: 0;
          }
          .icon-bar {
            display: block;

            width: 22px;
            height: 2px;

            border-radius: 1px;
            background-color: #f8f2f2;
          }
        }
        .navbar-brand {
          font-family: 'league-gothic','League Gothic';
          font-size: 22px;
          font-size: 40px;

          display: block;

          text-transform: uppercase;

          color: #f8f2f2;
          &:hover {
            text-decoration: none;
          }
          &:focus {
            text-decoration: none;
          }
        }
      }
      .navbar-collapse {
        display: block;

        max-height: 420px;
        #menu-main-nav {
          float: right;

          height: 50px;
          margin: 0;
          .current-menu-item {
            background-color: #c71111;
          }
          li {
            position: relative;
            height: 100%;
            padding: 0 5px;
            &:hover {
              background-color: #c71111;
              .sub-menu  {
              display: block;
              }
            }
            a {
              font-family: 'league-gothic','League Gothic';
              font-size: 17px;

              display: block;

              padding-top: 10px;
              padding-bottom: 12.5px;

              text-transform: uppercase;

              color: #f8f2f2;
              &:hover {
                text-decoration: none;
              }
            }
            .sub-menu {
              position: absolute;
              position: absolute;
              left: 0;
              width: 300px;
              display: none;

              margin: 0;

              background-color: #231f1f;
              li {
                width: 100%;
                padding: 5px;

                border-bottom: 1px solid #fff;
                a {
                  font-size: 16px;

                  text-align: center;
                }
              }
            }
          }
        }
      }
    }
  }
}
.grid {
  .eddie-redmayne {
    position: relative;

    border: none !important;
    &:hover {
      cursor: pointer;
      .post-title {
        z-index: 0;

        transform: translatey(-94px);

        opacity: 0;
      }
      a {
        img {
          transform: scale(1.2);
        }
      }
      .text-container {
        z-index: 10;

        opacity: .7;
        h6 {
          transform: translatey(0);
        }
        a {
          transform: translatey(0);
        }
      }
    }
    a {
      display: block;

      height: 100%;
    }
    .post-title {
      position: absolute;

      width: 100%;
      height: auto;

      transition: all 1s ease-in-out;
      text-align: center;

      border: 2px solid #fff;
      background-color: #fff;
      h5 {
        font-family: 'ColabReg';
      }
      p {
        font-family: 'ColabReg';
      }
    }
  }
  .post-block-img {
    position: relative;
    z-index: 2;

    width: 100%;
    height: 300px;
    max-height: 100%;

    transition: all .5s ease-in-out;

    border: 2px solid #fff;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    a {
      overflow: hidden;
      img {
        display: block;

        width: 100%;
        height: 100%;
        max-height: 100%;

        transition: all 1.2s ease-in-out;
      }
    }
    .text-container {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      transition: all 1s ease-in-out;
      text-align: center;

      opacity: 0;
      background-color: rgba(0,0,0,.5);
      h6 {
        font-family: 'ColabReg';
        font-size: 20px;

        height: 50px;
        margin-top: 80px;
        padding-top: 10px;

        transition: all 1s ease-in-out;
        transform: translatey(-100px);

        color: #fff;
        background: rgba(0,0,0,.7);
      }
      a {
        font-family: 'ColabReg';
        font-size: 14px;

        display: block;

        width: 120px;
        height: 50px;
        margin-top: 18%;
        margin-left: 34%;
        padding-top: 18px;

        transition: all 1s ease-in-out;
        transform: translatey(120px);
        text-transform: uppercase;

        color: #fff;
        border: 1px solid #fff;
        &:hover {
          text-decoration: none;

          box-shadow: 0 0 5px 2px #fff;
        }
      }
    }
  }
}

.page-id-263 {
  .x-main {
    article {
      .entry-content {
        #x-section-1 {
          height: 540px;
          margin: 0;
          padding: 180px 475px 100px 475px;
          background-image: url(../img/12-week-sales-page-banner-v3.jpg);
          background-repeat: no-repeat;
          background-position: center top;
          background-size: cover;
          .x-container {
            .x-column {
              margin: 0 !important;
              padding: 1.5em !important;

              background-color: rgba(0,0,0,.7) !important;
              .h3 {
                margin-top: 0;

                color: white;
              }
              .x-text {
                font-size: 120%;

                color: white;
                p {
                  line-height: 1.6;
                }
              }
            }
          }
        }
        #x-section-3 {
          margin: 0;
          padding: 70px 0;
          padding-right: 0 !important;
          padding-left: 0 !important;

          background-color: transparent;
          background-image: url(../img/main-banner-v3.jpg);
          background-repeat: none;
        }
        #x-section-4 {
          margin: 0 0 0;
          padding: 50px 0 0;

          background-color: #f3f3f3;
          .x-container {
            .x-column {
              .h3 {
                font-weight: 300;

                margin: 0 0 14px;
                margin: 0 0 14px;

                text-transform: uppercase;
              }
              .x-text {
                p {
                  margin-bottom: 20px;
                }
              }
              .responsive-devices {
                margin: 60px 0 20px !important;
              }
              .x-raw-content {
                .x-blockquote {
                  border-color: #bbb;
                }
              }
              .h3 {
                margin-top: 0;
                margin-bottom: .6em;
              }
              .x-feature-list {
                .x-feature-box {
                  max-width: none;
                  margin-bottom: 0;
                  .x-feature-box-content {
                    display: table-cell;

                    vertical-align: top;
                  }
                  .x-feature-box-graphic {
                    display: table-cell;

                    vertical-align: top;
                    .x-feature-box-graphic-outer {
                      margin-right: 20px;
                      .x-feature-box-graphic-inner {
                        font-size: 60px;

                        border-color: #c00;
                        i {
                          margin: 0 auto;

                          color: #fff;
                          background-color: #c00;
                        }
                      }
                    }
                  }
                  .x-feature-box-connector {
                    font-size: 60px;

                    right: calc(100% - 60px);
                    left: 0;

                    border-left: 1px dashed #272727;
                  }
                }
              }
            }
          }
        }
        #x-section-5 {
          margin: 0;
          padding: 60px 0 40px;
          padding-right: 0 !important;
          padding-left: 0 !important;

          background-color: #2b2b2b;
          background-image: url(../img/oriental-noodles-meal-cooked2-resized.jpg);
          .x-container {
            .x-column {
              padding: 20px;

              background-color: rgba(255,255,255,.8);
              .h3 {
                font-weight: 300;

                margin-top: 0;
                margin-bottom: 20px;

                text-transform: uppercase;
                .highlight {
                  color: #2784de;
                }
              }
              .x-block-grid {
                margin: 0;
                padding: 0;

                color: #444;
                li {
                  max-width: none;
                  margin: 0 20px 10px 0;
                  padding: 1em 0;

                  text-align: center;

                  color: #222;
                  border-bottom: 0 solid white;
                  &:nth-child(1) {
                    i {
                      color: #ff4d4d;
                    }
                  }
                  &:nth-child(2) {
                    i {
                      color: #cd3e8f;
                    }
                  }
                  &:nth-child(3) {
                    i {
                      color: #ff9e4d;
                    }
                  }
                  .x-feature-box-connector {
                    font-size: 60px;

                    right: calc(100% - 60px);
                    left: 0;

                    border-left: 1px dashed #272727;
                  }
                  .x-feature-box-graphic {
                    display: table-cell;

                    vertical-align: top;
                    .x-feature-box-graphic-outer {
                      margin-right: 20px;
                      .x-feature-box-graphic-inner {
                        font-size: 60px;

                        border-color: #c00;
                        i {
                          margin: 0 auto;

                          color: #fff;
                          background-color: #c00;
                        }
                      }
                    }
                  }
                  .x-feature-box-content {
                    display: table-cell;

                    vertical-align: top;
                  }
                  h4 {
                    font-size: 171.4%;
                    font-weight: 700;
                    font-style: normal;

                    margin-top: 0;
                    margin-bottom: 0;

                    text-align: left;

                    color: #272727;
                  }
                  i {
                    font-size: 450%;

                    width: 100%;
                    margin: 8px 0;
                    padding: 30px 0;

                    border: 4px solid;
                    background-color: transparent !important;
                    &:before {
                      line-height: 1;

                      content: attr(data-x-icon);
                    }
                  }
                }
              }
            }
          }
        }
        #x-section-6 {
          margin: 0;
          padding: 45px 0 40px;
          padding-right: 0 !important;
          padding-left: 0 !important;

          background-color: #f3f3f3;
          .x-container {
            .x-column {
              .h3 {
                font-weight: 300;

                margin-top: 0;
                margin-bottom: 30px;

                text-transform: uppercase;
              }
              .x-blockquote {
                font-size: 20px;
                font-style: italic;

                margin-top: 0;
                .x-cite {
                  font-size: .725em;
                  font-weight: 300;

                  display: block;

                  margin-top: .75em;

                  color: #7a7a7a;
                }
              }
            }
          }
        }
        #x-section-7 {
          margin: 0;
          padding: 60px 0;
          padding-right: 0 !important;
          padding-left: 0 !important;

          background-color: white !important;
          background-color: transparent;
          background-repeat: none;
          .x-container {
            margin: 0 auto;
            padding: 0 0 0;
            .x-column {
              .h3 {
                font-weight: 300;

                margin: 0 0 10px;

                text-transform: uppercase;
              }
              .h4 {
                font-weight: normal;

                margin-top: 0;

                text-transform: none;
              }
              .x-pricing-table {
                margin-top: 60px;
                .x-pricing-column {
                  .x-pricing-column-info {
                    .x-btn {
                      display: block;

                      width: 80%;
                      margin-right: auto;
                      margin-left: auto;
                    }
                    .monthly {
                      margin-top: 10px;
                      margin-bottom: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.page-id-265 {
  font-family: 'Lato',sans-serif;
  font-size: 1.6em;

  overflow-x: hidden;

  max-width: 100%;

  color: #797979;
  .container {
    width: 1170px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
  }
  a {
    color: #c33c28;
    &:hover {
      color: #da6b5b;
    }
  }
  ul,
  ol {
    overflow: hidden;
  }
  hr.nopadding {
    margin: 0;
    padding: 0;

    border-color: #e7e7e7;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: 'Oswald',sans-serif;

    color: #354458;
  }
  .btn {
    font-family: 'arial',serif;
    font-weight: bold;

    white-space: normal;

    border: 0;
  }
  .btn-primary {
    -webkit-border-radius: 1px;
       -moz-border-radius: 1px;
            border-radius: 1px;
    background-color: #eb7260;
    &:hover {
      background-color: #d5503d;
    }
  }
  .section {
    position: relative;
    z-index: 2;

    padding: 10px 0;
  }
  .section2 {
    position: relative;
    z-index: 3;

    padding: 55px 0;
    h3 {
      font-family: 'Lato',sans-serif;

      margin-bottom: 30px;

      color: #999;
    }
  }
  .section-hr {
    margin: 0;
    padding: 0;
  }
  .checkmark-list {
    padding-left: 35px;

    list-style-type: none;
    li:before {
      font-family: FontAwesome;

      display: inline-block;

      margin: 0 7px 0 -25px;

      content: '\f00c';

      color: #1bb868;
    }
  }
  .video-wrapper {
    margin: auto;
  }
  .video-container {
    position: relative;

    overflow: hidden;

    height: 0;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 56.25%;
    iframe,
    object,
    embed,
    img {
      position: absolute;
      top: 0;
      left: 0;

      width: 100% !important;
      height: 100% !important;
      margin: auto;
    }
  }
  .add-this-widget {
    position: fixed;
    z-index: 999;
    top: 180px;

    width: 55px;
  }
  #top-row {
    color: #f6f8f7;
    background-color: #eb7261;
  }
  .top-text-list {
    margin-bottom: 0;
    li {
      vertical-align: middle;
    }
  }
  .top-text-div1,
  .top-text-div2 {
    font-family: impact,serif;
    font-size: 20px;
  }
  .counter ul li {
    margin: 0;
    padding: 0 2px 0 0;
  }
  .counter-box {
    width: 60px;
    padding: 5px;

    text-align: center;

    color: #fff9f9;
    border: 1px solid #cb6252;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    background-color: #eb7262;
    .number {
      font-family: 'Droid Sans',sans-serif;
      font-size: 20px;
      font-weight: bold;
    }
    .duration {
      font-size: 12px;
    }
  }
  .btn-top {
    font-size: 20px;

    padding: 12px 20px;

    color: #fff9f8;
    border: 1px solid #ae5345;
    background-color: #eb7263;
    &:hover {
      color: #fff9f2;
      background-color: #ae5346;
    }
  }
  .language-select-section {
    text-align: right;

    background-color: #e1e1e2;
    img {
      width: 16px;
      height: 16px;
    }
  }
  .flag-container {
    padding-right: 45px;
  }
  #hero-section {
    position: relative;

    min-height: 420px;
    .hero-bg {
      position: absolute;
      z-index: 1;
      top: 12%;
      left: 50%;

      min-width: 1920px;
      min-height: 420px;
      margin-left: -960px;
    }
    .hero-text-container {
      position: relative;
      z-index: 2;
      hr {
        border-color: #8793a3;
      }
    }
    .hero-text {
      padding: 40px 0;
      .speaker-name {
        font-size: 30px;
        font-weight: lighter;

        color: #fff9f7;
      }
      h1,
      h2 {
        color: #f9f9f6;
      }
      .location {
        font-size: 30px;
        font-weight: lighter;

        color: #f9f9f5;
      }
    }
  }
  #trust-section {
    background-color: #f4f4f4;
  }
  .btn-hero {
    font-size: 26px;

    width: 70%;
    margin: -25px auto 0 auto;
    padding: 30px 10px;

    -webkit-transition: all .2s ease-out;
       -moz-transition: all .2s ease-out;
         -o-transition: all .2s ease-out;
            transition: all .2s ease-out;

    color: #f6f6f7;
    border: 1px solid #f3f3f3;
    background-color: #eb7264;
    background-image: none;
    &:hover {
      font-size: 26px;

      width: 73%;
      margin: -30px auto -5px auto;
      padding: 35px 10px;

      text-decoration: none;

      color: #f6f6f8;
      border: 1px solid #f3f3f3;
      background-color: #f76c5b;
    }
  }
  .trust-logo-container {
    margin-top: 10px;
    margin-right: 50px;
    .list-inline {
      margin-left: -5px;
      padding-left: 0;

      list-style: none;

      text-align: center;
      li {
        display: inline-block;

        padding-right: 5px;
        padding-left: 5px;

        vertical-align: top;
      }
      img {
        width: 140px;
        height: 57px;
      }
    }
  }
  .hero-trust-logos {
    li {
      vertical-align: top;
    }
    img {
      width: 140px;
      height: 57px;
    }
  }
  #about-video-container {
    float: left;

    width: 520px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  #about-section {
    color: #777;
    background-color: #fffffd;
    h2 {
      font-size: 30px;

      color: #354459;
    }
    .checkmark-list li:before {
      color: #eb7265;
    }
  }
  #quote1-section {
    color: #f9f9f4;
    background-color: #354456;
  }
  .quote-container {
    width: 80%;
    margin: auto;
    p {
      margin-bottom: 0;

      text-align: center;
    }
    .quote {
      font-family: georgia,serif;
      font-size: 25px;

      margin-bottom: 10px;
    }
  }
  #testimonial1-section {
    color: #777775;
    background-color: #fffffb;
    ul li {
      vertical-align: top;
    }
    h1,
    h2 {
      font-size: 36px;

      text-align: center;

      color: #354452;
    }
    .subheader {
      font-size: 24px;

      text-align: center;

      color: #888887;
    }
  }
  .testimonial-row-container {
    margin: 10px 0;
    .list-inline {
      margin-left: -5px;
      padding-left: 0;

      list-style: none;
      li {
        display: inline-block;

        padding-right: 5px;
        padding-left: 5px;
      }
    }
  }
  .testimonial-featured-vid-row {
    margin-bottom: 20px;
  }
  .testimonial-row-container ul li {
    width: 379px;
  }
  .video-testimonial-caption {
    margin-top: 10px;
    margin-bottom: 20px;

    color: #777774;
  }
  .testimonial-box {
    position: relative;

    padding-bottom: 55px;

    color: #777774;
  }
  .testimonial-bubble {
    font-family: georgia,serif;

    position: relative;

    padding: 20px 20px 35px 20px;

    text-align: center;

    color: #f2f2f2;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    background-color: #354451;
    &:after {
      position: absolute;
      z-index: -1;
      bottom: -30px;
      left: 135px;

      display: block;

      content: '';

      border: 1px solid #354451;
      border-right-width: 0;
      border-bottom-width: 30px;
      border-bottom-color: transparent;
      border-left-width: 49px;
    }
  }
  .testimonial-box img {
    position: absolute;
    left: 25px;

    width: 100px;
    height: 100px;
    margin-top: -20px;

    -webkit-border-radius: 100px;
       -moz-border-radius: 100px;
            border-radius: 100px;
  }
  .testimonial-info {
    padding: 31px 10px 0 145px;

    text-align: left;
  }
  #cta2-section {
    background-color: #334251;
    h1 {
      font-size: 40px;

      margin: 0 0 10px 0;

      text-align: center;

      color: #f2f2f1;
    }
    h3 {
      margin: 0;

      color: #f2f2f1;
    }
    .text-center {
      text-align: center;
      .subheader {
        font-size: 24px;

        margin: 0;
        margin-bottom: 40px;

        color: #f2f2f1;
      }
    }
  }
  .btn-cta2 {
    font-size: 20px;

    margin-top: 20px;
    padding: 20px 60px;

    color: #f7f7f3;
    background-color: #ea736b;
    background-image: none;
    &:hover {
      text-decoration: none;

      color: #f7f7f2;
      background-color: #e55946;
    }
  }
  #speaker-section {
    color: #777773;
    background-color: #f6f6f6;
    h2 {
      color: #334253;
    }
    .speaker_image {
      width: 458px;
    }
    .social-icon-container {
      position: absolute;
      top: 0;
      left: -26px;

      float: left;

      width: 36px;
      margin-right: 5px;
    }
    .achievement-box {
      margin-top: 10px;
      padding: 20px;

      color: #f1f1f4;
      background-color: #334254;
      h4 {
        font-family: 'Allerta,sans-serif';
        font-size: 18px;

        text-align: center;

        color: #f1f1f3;
      }
      .checkmark-list {
        padding-left: 35px;

        list-style-type: none;
        li {
          &:before {
            font-family: FontAwesome;

            display: inline-block;

            margin: 0 7px 0 -25px;

            content: '\f00c';

            color: #ea736d;
          }
          .leadstyle-fontsized {
            font-size: 18px;
            line-height: normal;
          }
        }
      }
    }
    .role-element {
      .leadstyle-fontsized {
        font-size: 18px;
        line-height: normal;
      }
      .leadstyle-text {
        flex: 14px;
      }
    }
  }
  #pricing-section {
    color: #f3f3f2;
    background-color: #334255;
  }
  #pricing-section2 {
    color: #999997;
    h2 {
      font-size: 30px;

      text-align: center;

      color: #334256;
    }
    h3 {
      margin-top: 20px;
      margin-bottom: 30px;

      text-align: center;

      color: #999997;
    }
    .text-center {
      .role-element {
        line-height: 1.6;
      }
      .price2-btn-container {
        .leadstyle-text {
          .underbutton-text {
            font-size: 18px;
            line-height: normal;

            color: rgb(0, 0, 0);
          }
        }
      }
    }
  }
  .price2-btn-container {
    position: relative;

    width: 80%;
    margin: auto;
  }
  .btn-price2 {
    font-size: 35px;

    display: block;

    margin: 30px 0 0 0;
    padding: 20px 10px;

    text-align: center;

    color: #f2f1f1;
    background-color: #ea735c;
    background-image: none;
    &:hover {
      text-decoration: none;

      color: #f2f1f2;
      background-color: #e55945;
    }
  }
  .price2-burst {
    position: absolute;
    top: 100px;
    left: 0;

    width: 140px;
    height: 140px;
  }
  .price2-footer-text {
    margin-top: 10px;
  }
  #details-section {
    background-color: #d1d1d1;
    .event-details-box {
      .event-detail-info {
        .leadstyle-text {
          span {
            color: #333;
          }
        }
      }
    }
    .header {
      font-size: 36px;

      text-align: center;

      color: #334257;
    }
    .subheader {
      font-size: 24px;

      text-align: center;

      color: #888883;
    }
    .details-map-container {
      position: relative;

      margin: 50px 0;
    }
    .details-map {
      overflow: hidden;

      height: 200px;
      iframe {
        width: 100%;
        margin-top: -180px;
      }
    }
    .location_img {
      position: absolute;
      top: -25px;
      right: 50px;

      height: 254px;

      border: 10px solid #f9f9f3;
      -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .33);
         -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .33);
              box-shadow: 0 0 5px 0 rgba(0, 0, 0, .33);
    }
    .event-details-box {
      margin-bottom: 15px;
    }
    .center {
      position: absolute;
      top: 50%;
      left: 50%;

      width: 42px;
      height: 42px;
      margin-top: -21px;
      margin-left: -21px;
    }
    .event-icon-container {
      position: relative;

      float: left;

      width: 70px;
      height: 70px;

      text-align: center;

      -webkit-border-radius: 100px;
         -moz-border-radius: 100px;
              border-radius: 100px;
      background-color: #334258;
    }
    .event-detail-info {
      margin-left: 90px;
      padding-top: 15px;
    }
    .event-details-label {
      display: inline-block;

      margin-bottom: 10px;
      padding: 5px 30px 5px 20px;

      color: #fff;
      background-color: #29aba5;
    }
    .event-detail-info .text {
      margin-top: 5px;

      color: #888882;
    }
  }
}

.page-id-320, .page-id-323 {
  .x-section {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  #x-section-1 {
    padding-top: 30px;
    padding-right: 0 !important;
    padding-bottom: 100px;
    padding-left: 0 !important;
    background-image: none;
    .x-container {
      .thumb-post-img {
        img {
        margin-top:35px;
        }
      }
      .x-column {
        .ebook-header {
          font-weight: 300;

          margin-top: 0;
          margin-bottom: 0;
          padding-top: 50px;

          text-transform: uppercase;

          color: #333;
          border-bottom: 2px solid rgb(50,50,50);
        }
        .x-text {
          p {
            line-height: 1.6;
          }
        }
        .x-ul-icons {
          margin-left: 1.5em;

          list-style: none;
          .x-li-icon {
            font-size: 18px;

            margin-left: 0;

            color: #4b4b4b;
            i {
              text-indent: -1.5em;

              color: #0c830c;
            }
          }
        }
      }
    }
  }
  .x-section {
    &:nth-child(odd) {
      background-color: #f3f3f3 !important;
    }
  }
}
.single {
  h2,
  h3 {
    font-family: 'Lato',sans-serif;
    font-size: 285.7%;
    font-weight: 700;
    font-style: normal;
    line-height: 1.2;

    margin: 48px 0 8px 0;

    color: #272727;
  }
  #top {
    background-color: #f3f3f3;
  }
  .x-container {
    margin-bottom: 100px;
    padding-top: 50px;
  }
  .yarpp-related {
    .yarpp-thumbnail {
      &:hover {
        text-decoration: none;
      }
    }
  }
}
.archive {
  .blog-posts {
    padding-top: 100px;
    background-color: #f8f2f2;
    .post-wrapper {
          padding-bottom: 100px;
      .post-preview {
            padding: 15px 15px 20px;
            a {
              color: #1149c7;
              text-decoration: none;
              img {
                display: block;
                max-width: 100%;
                height: auto;
                width: 100%;
                max-width: 100%;
                margin-bottom: 20px;
                border: 1px solid #4f3f3f;
              }
            }
            h2 {
                  font-family: "mensch","league-gothic","League Gothic";
                  font-weight: 600;
                  margin: 0 0 10px;
                  font-size: 60px;
                  line-height: 1em;
                  text-transform: uppercase;
                  text-align: center;
                  a {
                        color: inherit;
                        text-decoration: none;
                  }
            }
            p {
              font-size: 18px;
              line-height: 1.6;
              .glyphicon-chevron-right {
                position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    &:before {
      display: block;
      content: "\e080";
    }
              }
            }
            .post-meta {
                  padding-left: 0;
                  list-style: none;
                  margin-left: -5px;
                  width: 110%;
                  margin: 20px -5% 0;
                  padding: 0 5%;
                  background-color: #f2eeee;
                  border-top: 1px solid #807373;
                  border-bottom: 1px solid #807373;
                  li {
                        margin: 0;
                        padding: 0;
                        font-size: 10px;
                        line-height: 20px;
                        letter-spacing: .15em;
                        text-transform: uppercase;
                        &:first-child {
                              float: left !important;
                        }
                        &:last-child {
                              float: right !important;
                        }
                  }
                  .read-more {
                    font-size: 10px;
                    letter-spacing: .15em;
                    text-transform: uppercase;
                    color: inherit;
                    &:hover {
                          color: #c71111;
                          text-decoration: none;
                    }
                  }
            }
      }
    }
  }
}
