@import 'import/variables';
@import 'style2';
@import 'inlne_6';
@import 'style';
@import 'font';
@import 'inline_4';
@import 'inline_5';
@import 'fonts/font_fontawesome';


body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $fnorm;
  line-height: $base-line-height;

  overflow-y: hidden;

  min-width: 320px;

  transition: $base-transition;

  color: $base-font-color;
  background-color: $base-background-color;

  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;

  margin: 0 0 $small-spacing;
}
p,
pre {
  margin: 0 0 $small-spacing;
}
a {
  transition: $base-transition;
  text-decoration: none;

  color: $action-color;
  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }
  &:active,
  &:focus {
    color: lighten($action-color, 15%);
    outline: none;
  }
}
hr {
  margin: $base-spacing 0;

  border-top: none;
  border-right: none;
  border-bottom: $base-border;
  border-left: none;
}
img,
picture {
  max-width: 100%;
  margin: 0;
}
.wrapper {
  position: relative;

  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
}
.container {
  position: relative;

  max-width: $width;
}

header {
  .logo {
    display: block;
    img {
      max-width: 100%;
    }
  }
}
nav {
  ul {
    li {
      display: inline-block;
    }
  }
  .headnav {
    font-size: 100%;
  }
}

section {
  padding: 0 0 $footer;
}



footer {
  height: $footer;
  margin: $footer_margin auto 0;

  background-color: $gray-light;

  .google-maps-widget {
    h4 {
      text-align: center;
    }
   p {
    text-align: center;
    a {
      display: block;
    }
   }
  }
}
@font-face {
  font-family: 'League Gothic';
  font-weight: 300;
  font-style: normal;

  src: url('../fonts/LeagueGothic-Regular.otf');
  src: local('League Gothic Regular'),
  local('League Gothic'),
  url('../fonts/LeagueGothic-Regular.otf') format('otf'),;
}


.x-1-2,
.x-1-1 {
  padding: 0;
}
#x-section-3,
#x-section-7,
#x-section-9 {
  background-color: #f3f3f3 !important;
}
#x-section-9 {
  #sbi_load {
    padding: 5px 0 50px 0;
  }
}
.first-footer {
  height: 600px;
  .third-footer {
    text-align: center;
    form {
        h5 {
          font-family: 'Trocchi';
          font-size: 20px;

          margin-bottom: 20px;

          text-align: left;
          text-transform: uppercase;

          color: #fff;
        }
        p {
          .wpcf7-form-control-wrap {
            display: inline-block;

            width: 49%;
            &:nth-child(5) {
              display: block;

              width: 100%;
            }
            input {
              margin-bottom: 25px;

              border: none;
              border-bottom: 1px solid #6d6c6c;
              background: none;
              &::-webkit-input-placeholder {
                font-family: 'Trocchi';
                font-size: 20px;

                color: #167ac6;
              }
              &:focus {
                box-shadow: none;
                &::-webkit-input-placeholder {
                  color: #1e1e1e;
                }
              }
            }
          }
          br {
            display: none;
          }
        }
        .wpcf7-submit {
          font-family: 'Trocchi';
          font-size: 18px;
          line-height: .5;

          float: left;

          width: 46%;
          height: 35px;

          color: #fff;
          border-radius: 25px;
          background-color: #434343;
          &:hover {
            color: #167ac6;
            background-color: darken(#434343, 5%);
          }
        }
        .first-footer-input {
          display: inline-block;

          width: 95%;
          margin-right: 30px;
        }
        .second-footer-input {
          display: inline-block;

          width: 95%;
        }
      }
  }
.footnav {
  padding-top: 30px;
  ul {
        margin: 0;
    li {
       padding: 10px;
       width: 100%;
       transition: .5s all ease-out;
       border-bottom:1px solid #6d6c6c;
       border-radius: 4px;
       box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
       &:hover {
        background-color: darken(#424242, 3%);
        border-bottom: none;
        a {
          text-decoration: none;
        color:#ab0101;
        }
       }
      a {
      text-decoration: none;
      font-size: 18px;
      }
    }
  }
}
}
.second-footer {
  height: 200px;
}
#x-section-1 {
  margin: 0;
  padding: 105px 0;

  background-color: #fff;
  background-image: url(../img/scott-home-banner-v51.png);
  .x-container {
    margin: 0 auto;
    padding: 0;
    .x-1-2 {
      padding: 0;
      .hi-cursive {
        margin-top: 0;
      }
      .left-text {
        font-weight: 300;

        text-transform: uppercase;
        .inner-title {
          font-weight: bold;
        }
      }
      .x-raw-content {
        font-size: 18px;
      }
    }
  }
}
#x-section-3 {
  margin: 0;
  padding: 55px 0 45px;

  background-color: transparent;
  .x-container {
    margin: 0 auto;
    padding: 0;
    .x-1-2 {
      padding: 0;
      .h2 {
        margin-top: 0;
        margin-bottom: 10px;
      }
      .h6 {
        font-size: 16px;

        margin-top: 0;
        margin-bottom: 20px;
      }
    }
    .grid-form {
      form {
        .gender {
          .infusion-radio {
            .infusion-option {
              br {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
#x-section-4 {
  margin: 0;
  padding: 10px 0;

  background-color: #232323;
  .x-container {
    margin: 0 auto;
    padding: 0;
    .h2 {
      margin: 0;
      padding-left: 10px;

      color: white;
    }
  }
}
#x-section-5 {
  margin: 0;
  padding: 0;

  background-color: transparent;
  .x-container {
    margin: 0 auto;
    padding: 0;
  }
}
#x-section-6 {
  margin: 0;
  padding: 45px 00px 45px 200px;
  padding-top: 120px;
  background-color: #232323;
  .x-container {
    margin: 0 auto;
    padding: 0 0 0 5px;
    .pad-quote {
      padding-right: 10px;
    }
  }
}
#x-section-7 {
  margin: 0;
  padding: 65px 0 15px;

  background-color: transparent;
  .x-container {
    margin: 0 auto;
    padding: 0;
    .h2 {
      font-weight: 300;

      margin: 0 0 20px;

      text-transform: uppercase;
      .bold-title {
        font-weight: bold;
      }
    }
    .x-feature-list {
      .cf {
        max-width: none;
        .full {
          font-size: 60px;

          right: calc(100% - 60px);
          left: 0;

          border-left: 1px dashed #272727;
        }
        .x-feature-box-graphic {
          display: table-cell;

          vertical-align: top;
        }
        .x-feature-box-graphic-outer {
          margin-right: 20px;
        }
        .x-feature-box-graphic-inner {
          font-size: 60px;

          border-color: #c00;
        }
        .x-icon-star,
        .x-icon-calendar-o,
        .x-icon-money,
        .x-icon-life-bouy {
          margin: 0 auto;

          color: #fff;
          background-color: #c00;
        }
        .x-feature-box-content {
          display: table-cell;

          vertical-align: top;
        }
      }
    }
  }
}
#x-section-8 {
  margin: 0;
  padding: 45px 0;

  background-color: #fff;
  .x-container {
    margin: 0 auto;
    padding: 0;
    .h2 {
      font-weight: 300;

      margin-top: 0;

      text-transform: uppercase;
      .title-bold {
        font-weight: bold;
      }
    }
  }
}
#x-section-9 {
  margin: 0;
  padding: 45px 0;

  border-top: 3px solid #333;
  background-color: transparent;
  .x-container {
    margin: 0 auto;
    padding: 0;
    .h2 {
      font-weight: 300;

      margin-top: 0;
      padding-left: 5px;

      text-transform: uppercase;
      .bold-title-ins {
        font-weight: bold;
      }
    }
    .x-raw-content {
      #sb_instagram {
        width: 100%;
        padding-bottom: 10px;
        .sb_instagram_header {
          padding: 10px;
          padding-bottom: 0;
        }
        .sbi_images {
          padding: 5px;
        }
      }
    }
  }
}





header {
  position: fixed;
  z-index: 1000;

  width: 100%;
  margin: 0;

  background-color: rgba(18,14,14,.92);
  box-shadow: 0 2px 4px rgba(18,14,14,.5);
  .container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    .navbar {
      margin-bottom: 0;
      .navbar-header {
        float: left;
        .navbar-toggle {
          display: none;

          border: 2px solid #f8f2f2;
          &:focus {
            outline: none;
          }
          .sr-only {
            position: absolute;

            overflow: hidden;
            clip: rect(0, 0, 0, 0);

            width: 1px;
            height: 1px;
            margin: -1px;
            padding: 0;

            border: 0;
          }
          .icon-bar {
            display: block;

            width: 22px;
            height: 2px;

            border-radius: 1px;
            background-color: #f8f2f2;
          }
        }
        .navbar-brand {
          font-family: 'league-gothic','League Gothic';
          font-size: 22px;
          font-size: 40px;

          display: block;

          text-transform: uppercase;

          color: #f8f2f2;
        }
      }
      .navbar-collapse {
        display: block;

        max-height: 420px;
        #menu-main-nav {
          float: right;

          height: 50px;
          margin: 0;
          .current-menu-item {
            background-color: #c71111;
          }
          li {
            height: 100%;
            padding: 0 5px;
            &:hover {
              background-color: #c71111;
            }
            a {
              font-family: 'league-gothic','League Gothic';
              font-size: 17px;

              display: block;

              padding-top: 10px;
              padding-bottom: 12.5px;

              text-transform: uppercase;

              color: #f8f2f2;
            }
          }
        }
      }
    }
  }
}
.grid {
  .eddie-redmayne {
    position: relative;

    border: none !important;
    &:hover {
      cursor: pointer;
      .post-title {
        z-index: 0;
        transform: translatey(-94px);
        opacity: 0;
      }
      a {
        img {
          transform: scale(1.2);
        }
      }
      .text-container {
        z-index: 10;

        opacity: .7;
        h6 {
          transform: translatey(0);
        }
        a {
          transform: translatey(0);
        }
      }
    }
    a {
      display: block;

      height: 100%;
    }
    .post-title {
      position: absolute;
      width: 100%;
      height: auto;
      transition: all 1s ease-in-out;
      text-align: center;
      border: 2px solid #fff;
      background-color: #fff;
      h5 {
        font-family: 'ColabReg';
      }
      p {
        font-family: 'ColabReg';
      }
    }
  }
  .post-block-img {
    position: relative;
    z-index: 2;

    width: 100%;
    height: 300px;
    max-height: 100%;

    transition: all .5s ease-in-out;

    border: 2px solid #fff;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    a {
      overflow: hidden;
      img {
        display: block;
        width: 100%;
        max-height: 100%;
        height: 100%;
        transition: all 1.2s ease-in-out;
      }
    }
    .text-container {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      transition: all 1s ease-in-out;
      text-align: center;

      opacity: 0;
      background-color: rgba(0,0,0,.5);
      h6 {
        font-family: 'ColabReg';
        font-size: 20px;

        height: 50px;
        margin-top: 80px;
        padding-top: 10px;

        transition: all 1s ease-in-out;
        transform: translatey(-100px);

        color: #fff;
        background: rgba(0,0,0,.7);
      }
      a {
        font-family: 'ColabReg';
        font-size: 14px;

        display: block;

        width: 120px;
        height: 50px;
        margin-top: 18%;
        margin-left: 34%;
        padding-top: 18px;

        transition: all 1s ease-in-out;
        transform: translatey(120px);
        text-transform: uppercase;

        color: #fff;
        border: 1px solid #fff;
        &:hover {
          text-decoration: none;

          box-shadow: 0 0 5px 2px #fff;
        }
      }
    }
  }
}






