@import 'import/reset';
@import 'import/variables';
@import 'import/buttons';
@import 'import/forms';
@import 'import/lists';
@import 'import/tables';
@import 'import/mixin';
@import 'import/wordpress';
@import 'grid/bootstrap';
@import 'grid/bootstrap-theme';
@import 'super_sprite';
@import 'owl.carousel';
@import 'owl.theme';
@import 'jquery.mmenu.all';

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $fnorm;
  line-height: $base-line-height;

  min-width: 320px;

  transition: $base-transition;

  color: $base-font-color;
  background-color: $base-background-color;

  -webkit-font-smoothing: antialiased;

  .modal-form-order {
      display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.46);
    z-index:100;
      form {
        position:relative;
        background-color: #fff;
        width: 400px;
        height: 310px;
        box-shadow: 0 5px 15px rgba(0,0,0,.5);
        border: 1px solid rgba(0,0,0,.2);
        border-radius: 6px;
        margin: 0 auto;
        margin-top: 100px;
        text-align:left;
        p {
          text-align: left !important;
              color: rgb(127, 127, 127) !important;
              margin-left: 30px;
              padding:0;
        }
        h5 {
        padding: 15px;
        border-bottom: 1px solid #e5e5e5;
        font-size: 18px;
        font-weight: 700;
        }
        input {
      width: 368px;
      height: 34px;
      padding:5px;
          margin-left: 15px;
        }
        button {
          width: 365px;
          height: 45px;
          font-size: 20px;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
    color: #fff;
    border-style: solid;
    border-color: #245581;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 3px;
    border-left-width: 1px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #2d6aa1;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
    margin-left: 15px;
    margin-bottom: 50px;
}
        }
        .close {
          position: absolute;
    top: 3%;
    right: 3%;
    color: rgb(127, 127, 127);
    &:hover {
      text-decoration: none;
      color:#000;
    }
        }
      }
    }
    .modal-form-order-opened {
      display: block;
    }
    .header-form {
      display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.46);
    z-index:100;
      form {
        position:relative;
        background-color: #fff;
        width: 400px;
        height: 310px;
        box-shadow: 0 5px 15px rgba(0,0,0,.5);
        border: 1px solid rgba(0,0,0,.2);
        border-radius: 6px;
        margin: 0 auto;
        margin-top: 100px;
        text-align:left;
        p {
          text-align: left !important;
              color: rgb(127, 127, 127) !important;
              margin-left: 30px;
              padding:0;
              padding-bottom: 0 !important;
        }
        h5 {
        padding: 15px;
        border-bottom: 1px solid #e5e5e5;
        font-size: 18px;
        font-weight: 700;
        color:#000;
        }
        input {
      width: 368px;
      height: 34px;
      padding:5px;
          margin-left: 15px;
        }
        button {
              border-color: #be0404;
              background-color: #ed0505;
          width: 365px;
          height: 45px;
font-size: 20px;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
    color: #fff;
    border-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 3px;
    border-left-width: 1px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
    margin-left: 15px;
    margin-bottom: 50px;
        }
        .close {
          position: absolute;
    top: 3%;
    right: 3%;
    color: rgb(127, 127, 127);
    &:hover {
      text-decoration: none;
      color:#000;
    }
        }
      }
    }
    .footer-form {
      display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.46);
    z-index:100;
      form {
        position:relative;
        background-color: #fff;
        width: 400px;
        height: 280px;
        box-shadow: 0 5px 15px rgba(0,0,0,.5);
        border: 1px solid rgba(0,0,0,.2);
        border-radius: 6px;
        margin: 0 auto;
        margin-top: 100px;
        text-align:left;
        p {
          text-align: left !important;
              color: rgb(127, 127, 127) !important;
              margin-left: 30px;
              padding:0;
        }
        h5 {
        padding: 15px;
        border-bottom: 1px solid #e5e5e5;
        font-size: 18px;
        font-weight: 700;
        }
        input {
      width: 368px;
      height: 34px;
      padding:5px;
          margin-left: 15px;
        }
        button {
          width: 365px;
          height: 45px;
font-size: 20px;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
    color: #fff;
    border-style: solid;
    border-color: #be0404;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 3px;
    border-left-width: 1px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
        background-color: #ed0505;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
    margin-left: 15px;
    margin-bottom: 50px;
        }
        .close {
          position: absolute;
    top: 3%;
    right: 3%;
    color: rgb(127, 127, 127);
    &:hover {
      text-decoration: none;
      color:#000;
    }
        }
      }
    }
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'FFF_Tusj';
  font-size: $base-font-size;
  line-height: $heading-line-height;

  margin: 0 0 $small-spacing;
}
p,
pre {
  font-family: 'Trocchi';

  margin: 0 0 $small-spacing;
}
a {
  font-family: 'Open Sans';

  transition: $base-transition;
  text-decoration: none;

  color: $action-color;
  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }
  &:active,
  &:focus {
    color: lighten($action-color, 15%);
    outline: none;
  }
}
ul {
  li {
    font-family: 'Open Sans';
  }
}
button {
  font-family: 'Fedra-Sans';
}
hr {
  margin: $base-spacing 0;

  border-top: none;
  border-right: none;
  border-bottom: $base-border;
  border-left: none;
}
img,
picture {
  max-width: 100%;
  margin: 0;
}
.wrapper {
  position: relative;

  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;

  @extend .clearfix;
}
.container {
  position: relative;

  width: 1170px;
}
@font-face {
  font-family: 'Lobster';
  font-weight: 400;
  font-style: normal;

  src: local('Lobster'),local('Lobster-Regular'),url('../fonts/Lobster.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;

  src: local('Open Sans'),local('OpenSans'),url('../fonts/OpenSans.woff') format('woff');
}
@font-face {
  font-family: 'FFF_Tusj';
  font-weight: 400;
  font-style: normal;

  src: local('FFF_Tusj'),local('FFF_Tusj'),url('../fonts/FFF_Tusj.ttf') format('ttf');
}
@font-face {
  font-family: 'Trocchi';
  font-weight: 400;
  font-style: normal;

  src: local('Trocchi'),local('Trocchi'),url('../fonts/Trocchi.otf') format('otf');
}
@font-face {
  font-family: 'Fedra-Sans';
  font-weight: 400;
  font-style: normal;

  src: local('Fedra-Sans'),local('Fedra-Sans'),url('../fonts/Fedra-Sans.ttf') format('ttf');
}
@font-face {
  font-family: 'ColabReg';
  font-weight: 400;
  font-style: normal;

  src: local('ColabReg'),local('ColabReg'),url('../fonts/ColabReg.otf') format('otf');
}

header {
  background-color: rgba(0, 0, 0, .780392);
  background-image: url(../img/cat.gb.jpg);
  background-position-y: 40%;
  background-size: cover;
  .logo {
    display: block;

    padding-top: 10px;

    text-align: center;
    img {
      width: 50px;
      max-width: 100%;
      height: 50px;
    }
  }
  .header-wrapp {
    padding-top: 30px;
    h2 {
      font-size: 23px;

      color: #fff;
    }
    .site-name {
      padding-top: 20px;
      padding-left: 0;
      h2 {
        font-family: 'Lobster';
      }
    }
    .col-md-2 {
      padding-right: 20px;
    }
  }
  .nav__header {
    display: flex;

    justify-content: flex-end;
  }
  .header-second-block {
    padding: 100px 5px 5px;
    padding-bottom: 100px;

    color: #fff;
    h6 {
      font-size: 48px;
      font-weight: 800;

      margin-bottom: 10px;

      text-transform: uppercase;
    }
    p {
      font-family: 'Lobster';
      font-size: 26px;

      padding-bottom: 25px;
    }
    .header-slogan {
      .super-button {
        font-size: 19px;
        color:#fff;
        width: 170px;
        height: 43px;
        margin-left: 50px;
        padding: 8px;
        text-decoration: none;
        border-radius: 5px;
        background-color: rgb(237, 5, 5);
        &:hover {
          background-color: darken(#ed0505, 10%);
          text-decoration: none;
          color:#fff;
        }
      }
    }
  }

}
nav {
  ul {
    @extend .justify-child;
    @extend .clearfix;
    li {
      display: inline-block;
    }
  }
  .headnav {
    font-size: 100%;

    padding-top: 20px;
    li {
      padding: 5px 20px;
      a {
        font-family: 'OpenSans';
        font-size: 19px;

        color: #fff;
        &:hover {
          text-decoration: none;
              color: #ef9c4a;
        }
      }
    }
  }
}

section {
  padding: 0 0 $footer;
}
article {
  @extend .clearfix;
}
.looper {
  @extend .clearfix;
}

.main-content {
  .first-block {
    padding-bottom: 50px;
    h6 {
      font-size: 200%;
      font-weight: 700;

      padding-top: 30px;

      text-align: center;
    }
    p {
      font-size: 110%;
      font-weight: 400;

      padding-bottom: 40px;

      text-align: center;

      color: rgba(51, 51, 51, .65);
    }
    .col-md-6 {
      display: -webkit-flex;
      display:    -moz-flex;
      display:     -ms-flex;
      display:      -o-flex;
      display:         flex;

      align-items: center;
      padding-bottom: 20px;
      p {
        font-size: 20px;
        font-weight: 400;

        padding-top: 30px;
        padding-left: 10px;

        text-align: left;

        color: #000;
      }
    }
  }
  .second-section {
    padding-bottom: 50px;

    background-color: #000;
    h6 {
      font-size: 200%;
      font-weight: 700;

      padding-top: 20px;

      text-align: center;

      color: #fff;
    }
    p {
      font-size: 110%;
      font-weight: 400;

      padding: 15px 0 10px 0;

      text-align: center;

      color: #fff;
    }
    .col-md-4 {
      box-sizing: border-box;
      width: 30%;
      height: auto;
      margin-right: 20px;
      padding: 41px 10px;

      text-align: center;

      color: #fff;
      border: 2px solid #2d6aa0;
      border-radius: 5px;
      ul {
        padding-left: 40px;

        text-align: left;
        li {
          padding: 3px;

          list-style-type: disc;
          &:before {
            display: none;
          }
        }
      }
    }
  }
  .third-section {
    padding-bottom: 50px;

    text-align: center;
    h6 {
      font-size: 200%;
      font-weight: 700;

      padding-top: 20px;

      text-align: center;

      color: #000;
    }
    p {
      font-size: 110%;
      font-weight: 400;

      padding: 15px 0 10px 0;

      text-align: center;

      color: rgba(51, 51, 51, .65);
    }
  }
  .fourth-section {
    padding-bottom: 50px;
    h6 {
      font-size: 200%;
      font-weight: 700;

      padding-top: 20px;

      text-align: center;

      color: #000;
    }
    p {
      font-size: 110%;
      font-weight: 400;

      padding: 15px 0 5px 0;

      text-align: center;

      color: #000;
    }
    .col-md-4 {
      box-sizing: border-box;
      box-sizing: border-box;
      width: 30%;
      margin-right: 20px;

      text-align: center;

      border: 2px solid #2d6aa0;
      border-radius: 5px;
      p {
        font-size: 34px;
      }
      button {
        font-size: 19px;

        width: 170px;
        height: 45px;
        margin-bottom: 15px;
        padding-top: 12px;

        color: #fff;
        border-bottom: 3px solid #245581;
        background-color: #2d6aa1;
        &:hover {
          background-color: darken(#295f91, 10%);
        }
      }
    }
  }
  .photo-section {
    padding-bottom: 50px;
    background-color: #000;
   h6 {
      font-size: 200%;
      font-weight: 700;

      padding-top: 20px;

      text-align: center;
      color:#fff;
    }
    p {
      font-size: 110%;
      font-weight: 400;

      padding: 15px 0;

      text-align: center;
      color:#fff;
    }
  }
  .fifth-section {
    padding-bottom: 50px;
    background-color: #000;
    h6 {
      font-size: 200%;
      font-weight: 700;

      padding-top: 20px;

      text-align: center;

      color: #fff;
    }
    p {
      font-size: 110%;
      font-weight: 400;

      padding: 15px 0;

      text-align: center;

      color: #fff;
    }
    .col-md-6 {
      box-sizing: border-box;
      width: 45%;
      margin-right: 20px;
      padding-top: 25px;

      text-align: center;

      border: 2px solid #2d6aa0;
      border-radius: 5px;
      .img-block {
        width: 150px;
        height: 200px;
        margin: 0 auto;
        img {
          min-width: 10%;
          height: 100%;
        }
      }
      span {
        display: block;

        padding-bottom: 25px;

        color: #fff;
      }
    }
  }
  .sixth-section {
    padding-bottom: 50px;
    h6 {
      font-size: 200%;
      font-weight: 700;

      padding-top: 20px;

      text-align: center;

      color: #000;
    }
    .sixth-underslogan {
      font-size: 110%;
      font-weight: 400;

      padding-bottom: 30px;

      text-align: center;

      color: #000;
    }
    .col-md-12 {
      .advantage-block {
        display: inline-block;
        background-color: #000;
        width: 31%;
        margin-right: 20px;
        margin-bottom: 30px;

        border: 2px solid #2d6aa0;
        border-radius: 5px;
        img {
          float: left;

          padding: 10px;
        }
        p {
          font-size: 14px;
          line-height: 1.7;

          display: table-cell;

          height: 70px;

          vertical-align: middle;

          color: #fff;
        }
      }
    }
  }
  .seventh-section {
    padding-bottom: 50px;
    background-color: #000;
    h6 {
      font-size: 200%;
      font-weight: 700;

      padding-top: 20px;

      text-align: center;

      color: #fff;
    }
    .seventh-underslogan {
      font-size: 110%;
      font-weight: 400;

      padding-bottom: 30px;

      text-align: center;

      color: #fff;
    }
    .col-md-12 {
      width: 66%;
      margin-bottom: 40px;
      padding: 20px 10px;

      border: 2px solid #2d6aa0;
      border-radius: 10px;
      &:nth-child(even) {
        float: right;
      }
      .seventh-block-wrap {
        display: flex;

        align-items: center;
        span {
          font-size: 56px;
          color:#fff;
          font-weight: 800;

          display: inline-block;

          padding: 0 30px;
        }
        p {
          font-size: 24px;
          color:#fff;

          display: inline-block;

          padding-top: 20px;
        }
      }
    }
    .bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}
.bounceInRight {
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
}
  }
  .eighth-section {
    position: relative;

    padding-bottom: 50px;
    &:before {
      position: absolute;
      left: 47%;

      display: block;

      content: '';

      @include triangle(130px 20px, #000, down);
    }
    h6 {
      font-size: 200%;
      font-weight: 700;

      padding-top: 60px;

      text-align: center;

      color: #000;
    }
    .eight-underslogan {
      font-size: 110%;
      font-weight: 400;

      padding-bottom: 30px;

      text-align: center;

      color: #000;
    }
    form {
      text-align: center;
      input {
        width: 300px;
        height: 34px;
        margin: 0 auto;
        margin-bottom: 10px;
        padding: 6px 12px;
      }
      button {
        font-size: 18px;

        width: 300px;
        height: 45px;
        padding-top: 8px;
        padding-right: 16px;
        padding-bottom: 8px;
        padding-left: 16px;

        color: rgb(255, 255, 255);
        border-style: solid;
        border-color: rgb(36, 85, 129);
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 3px;
        border-left-width: 1px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        background-color: rgb(45, 106, 161);
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .25);
        &:hover {
          border-color: darken(#245581, 10%);
          background-color: darken(#2d6aa1, 10%);
        }
      }
      p {
        font-size: 12px;

        width: 250px;
        margin: 0 auto;
        padding-top: 10px;

        text-align: center;

        color: rgb(160, 160, 160);
      }
    }
  }
  .nine-section {
    background-color: #000;
    h6 {
      font-size: 200%;
      font-weight: 700;

      padding-top: 30px;

      text-align: center;

      color: #fff;
    }
    .nine-underslogan {
      font-size: 110%;
      font-weight: 400;

      padding-bottom: 30px;

      text-align: center;

      color: #fff;
    }
    .question-answers {
      display: inline-block;

      width: 47%;
      margin-right: 30px;
      margin-bottom: 50px;
      &:last-child {
        position: relative;
        left: 25%;
      }
      h5 {
        font-size: 150%;
        font-weight: 700;
        color:#fff;
        position: relative;

        padding-left: 50px;
        &:before {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 8px;

          display: block;

          width: 33px;
          height: 33px;

          content: '';

          background-image: url(../img/question.png);
          background-repeat: no-repeat;
          border-radius:50%;
        }
      }
      .question-inner {
        padding: 10px;

        border: 2px solid #2d6aa0;
        border-radius: 10px;
        p {
          line-height: 1.4;

          color: #fff;
        }
      }
    }
  }
}

.category-content {
      background-image: url(../img/fitness-background-4.jpg);
       background-size: cover;
       h1 {
        font-size: 200%;
        font-weight: 700;
        font-family: 'ColabReg';
        text-align: center;
        color:#fff;
        padding-top: 20px;
       }
       .col-md-4 {
        margin-bottom: 100px;
        position: relative;
        &:hover {
          .post-title {
            transform: translatey(-57px);
            z-index: 0;
          }
          .post-block-img {
            box-shadow: 0 0 5px 4px #fff;
            border-radius:5px;
            img {
        transform: scale(1.2);
      }
      .text-container {
        opacity:0.7;
        h6 {
          transform: translatey(0);
        }
        a {
          transform: translatey(0);
        }
      }
          }
        }
        .post-title {
          position: absolute;
          text-align: center;
          background-color: #fff;
          opacity:0.8;
          border-radius: 0  0 5px 5px;
          border: 2px solid #fff;
          transition: all 1s ease-in-out;
          width: 360px;
          h5 {
          font-family: 'ColabReg';
          }
          p {
          font-family: 'ColabReg';
          }
        }
        .post-block-img {
    position: relative;
    width: 100%;
    height: 300px;
    max-height:100%;
    overflow: hidden;
    border:2px solid #fff;
    transition: all 0.5s ease-in-out;
    border-radius:5px 5px 0 0;
    border-bottom: none;
    z-index:2;
    img {
    min-height: 100%;
    width: 100%;
    display: block;
    transition: all 1.2s ease-in-out;
    }
    .text-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      background-color: rgba(0,0,0,.5);
      opacity:0;
      transition: all 1s ease-in-out;
      h6 {
        font-family: 'ColabReg';
        margin-top: 80px;
        color:#fff;
        height: 50px;
        background: rgba(0,0,0,.7);
        padding-top: 10px;
        font-size: 20px;
        transform: translatey(-100px);
        transition: all 1s ease-in-out;
      }
      a {
        font-family: 'ColabReg';
        display: block;
        margin-top: 18%;
        margin-left: 34%;
        color:#fff;
        width: 120px;
        height: 50px;
        padding-top: 18px;
        border: 1px solid #fff;
        text-transform: uppercase;
        font-size: 14px;
        transition: all 1s ease-in-out;
        transform: translatey(120px);
        &:hover {
          box-shadow: 0 0 5px 2px #fff;
          text-decoration: none;
        }
      }
    }
  }
       }

}
.archive {
  footer {
  height: 135px;
  margin: $footer_margin auto 0;

  background-color: #fff;
  .row {
    display: flex;
    height: 135px;

    align-items: center;
    .first-footer {
      padding-top: 60px;
      text-align: center;
      p {
        font-family: 'Lobster';
        font-size: 26px;
        font-weight: 700;

        padding: 5px;

        color: #000;
      }
    }
    .second-footer {
      padding-top: 60px;
      text-align: center;
      p {
        font-size: 16px;

        padding: 5px;
        padding-bottom: 10px;

        color: #000;
      }
    }
    .third-footer {
      padding-top: 60px;
      text-align: center;
      button {
        font-size: 15px;
        font-weight: 400;

        width: 200px;
        height: 32px;
        padding: 0;

        text-align: center;

        color: #000;
        border-radius: 0;
      }
    }
  }
}
}

footer {
  height: 135px;
  margin: $footer_margin auto 0;

  background-color: #fff;
  .row {
    display: flex;

    height: 135px;

    align-items: center;
    .first-footer {
      text-align: center;
      p {
        font-family: 'Lobster';
        font-size: 26px;
        font-weight: 700;

        padding: 5px;

        color: #000;
      }
    }
    .second-footer {
      text-align: center;
      p {
        font-size: 16px;

        padding: 5px;
        padding-bottom: 10px;

        color: #000;
      }
    }
    .third-footer {
      text-align: center;
      .footer-btn {
        font-size: 15px;
        font-weight: 400;

        width: 200px;
        height: 32px;
        padding: 0;

        text-align: center;

        color: #000;
        border-radius: 0;
      }
    }
  }
  .footnav {
    ul {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      flex-direction:column;
      align-items:center;
      li {
        padding: 5px 0;
        a {
      text-decoration: none;
      color:#000;
      &:hover {
        text-decoration: none;
        color: #ef9c4a;
        }
      }
      }
    }
  }
}
#nav-top {
      display: flex;
    justify-content: center;
    ul {
      margin-left: 520px;
      li {
        padding:0 20px;
        a {
          font-family: 'Lobster';
        color:#fff;
        font-size: 22px;
        font-weight: 400;
        &:hover {
          text-decoration: none;
          color:#ef9c4a;
        }
        }
      }
    }
}

#owl-demo {
  display: block;
  .owl-item {
    display: flex;

    justify-content: center;
    align-items: center;
    .item {
      display: flex;

      width: 400px;
      height: 500px;

      align-items: center;
      justify-content: center;
      img {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        display: block;

        max-width: 100%;
        max-height: 100%;
        margin: auto;
      }
    }
  }
  .owl-buttons {
    .owl-prev {
      background: none !important;
      &:before {
        position: absolute;
        top: 40%;
        left: 200px;

        display: block;

        width: 32px;
        height: 31px;

        content: '';

        background-image: url(../img/left.png);
      }
    }
    .owl-next {
      background: none !important;
      &:before {
        position: absolute;
        top: 40%;
        right: 200px;

        display: block;

        width: 32px;
        height: 31px;

        content: '';

        background-image: url(../img/right.png);
      }
    }
  }
}

#owl-demo-2 {
  display: block;
  .owl-item {
    display: flex;

    justify-content: center;
    align-items: center;
    .item {
      display: flex;

      width: 640px;
      height: 360px;

      align-items: center;
      justify-content: center;
      img {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        display: block;

        max-width: 100%;
        max-height: 100%;
        margin: auto;
      }
    }
  }
  .owl-buttons {
    .owl-prev {
      background: none !important;
      &:before {
        position: absolute;
        top: 40%;
        left: 130px;

        display: block;

        width: 32px;
        height: 31px;

        content: '';

        background-image: url(../img/left.png);
      }
    }
    .owl-next {
      background: none !important;
      &:before {
        position: absolute;
        top: 40%;
        right: 130px;

        display: block;

        width: 32px;
        height: 31px;

        content: '';

        background-image: url(../img/right.png);
      }
    }
  }
}
#adaptive-menu {
  display: none;
}
#hamburger {
  display: none;
  height: 44px;
    width: 44px;
    position: absolute;
    top: 2px;
    z-index: 2;
    background: none;
    left: 10px;
    color: #f3f3f3;
.fa-bars {
  width: 44px;
  height: 44px;
  font-size: 40px;
}
}
.mm-opened {
  display: block !important;
}
.mm-hasnavbar {
  .mm-listview {
    li {
      a {
            color: #333;
      }
    }
  }
}

@import 'fonts/font_fontawesome';
@import 'fonts/font_roboto';
@import 'base64';
@import 'import/print';


/* MEDIA QUERY */

@media (max-width:990px) {
  body {
    .container {
      width: 100%;
      .row {
        width: 100%;
      }
    }
  }
  header {
    .header-wrapp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    #nav-top {
      ul {
        margin-left: 0;
      }
    }
    .col-md-2 {
    width: 100%;
    text-align: center;
    }
    .col-md-8 {
    width: 100%;
    text-align: center;
    }
}
.nav__header {
      justify-content: center;
}
  }
  .main-content {
    .second-section {
      .col-md-4 {
        width: 100%;
        margin-bottom: 20px;
      }
    }
    .fourth-section {
      .col-md-4 {
        width: 100%;
        margin-bottom: 20px;
      }
    }
    .fifth-section {
      .col-md-6 {
        width: 100%;
        margin-bottom: 20px;
      }
    }
    .sixth-section {
      .col-md-12 {
        .advantage-block {
          width: 100%;
        }
      }
    }
    .seventh-section {
      .row {
            display: flex;
    flex-direction: column;
        .col-md-12 {
      width: 100%;
    }
      }

    }
    .nine-section {
      .question-answers {
        width: 100%;
            margin-right: 0;
        &:last-child {
          left: 0;
        }
      }
    }
    #owl-demo {
.owl-buttons {
  .owl-prev {
&:before {
  left: 10%;
}
  }
  .owl-next {
    &:before {
      right: 10%;
    }
  }
}
    }
    #owl-demo-2 {
.owl-buttons {
  .owl-prev {
&:before {
  left: 10%;
}
  }
  .owl-next {
    &:before {
      right: 10%;
    }
  }
}
    }
  }
  footer {
    .row {
          display: flex;
    justify-content: space-between;
    }
  }

}
@media (max-width:880px) {
#owl-demo, #owl-demo-2 {
  .owl-buttons {
    display: none;
  }
}
}
@media (max-width:600px) {
  header {
    #nav-top {
      width: 100%;
      justify-content: flex-end;
      ul {
        li {
              padding: 0 10px;
        }
      }
    }
    .nav__header {
      display: none;
    }
    #hamburger {
    display: block;
        top: 20px;
  }
  .header-second-block {
    text-align: center;
    .header-slogan {
      .super-button {
        margin-left: 0;
      }
    }
  }
  }
  footer {
    height: 300px;
    .container {
      height: 100%;
      .row {
        height: 100%;
        display: flex;
    flex-direction: column;
      }
    }
  }
}
 @media (max-width:500px) {
header {
background-image: url(../img/head-mini-bg.jpg);
    background-position-x: -300px;
}
}
@media (max-width:350px) {
header {
    #nav-top {
      width: 100%;
      justify-content: flex-end;
      ul {
        li {
              padding: 0 7px;
        }
      }
    }
    .logo {
      display: none;
    }
}
}
